In [181]:
import pandas as pd
import numpy as np

In [182]:
sample=pd.read_csv("final_key.csv")

In [183]:
sample.head()

,questionID,originalQuestionID,totalPossiblePoint,AnswerKey,isMultipleChoiceQuestion,includesDiagram,examName,schoolGrade,year,question,subject,category
0,ACTAAP_2008_5_16,16,1,C,1,1,ACTAAP,5,2008,The diagram below represents an aquatic food w...,science,Dev
1,LEAP__5_10328,10328,1,D,1,1,Louisiana Educational Assessment Program,5,?,Use the data table below to answer the questio...,science,Dev
2,LEAP__5_10333,10333,1,A,1,1,Louisiana Educational Assessment Program,5,?,Which foot would most likely help a bird live ...,science,Dev
3,LEAP__5_10335,10335,1,C,1,1,Louisiana Educational Assessment Program,5,?,A scientist was studying a mammal population. ...,science,Dev
4,MCAS_1998_4_21,21,1,A,1,1,MCAS,4,1998,{img:images/States2017/Mass/Mass_4thGr_1998_19...,science,Dev

In [184]:
ans=pd.read_json("final_key.jsonl",lines=True)

In [185]:
ans.head()

,answerKey,id,question
0,C,ACTAAP_2008_5_16,{u'choices': [{u'text': u'feed on water plants...
1,D,LEAP__5_10328,{u'choices': [{u'text': u'the amount that each...
2,A,LEAP__5_10333,{u'choices': [{u'text': u'{img:images/States20...
3,C,LEAP__5_10335,{u'choices': [{u'text': u'{img:images/States20...
4,A,MCAS_1998_4_21,"{u'choices': [{u'text': u'plant', u'label': u'..."

In [186]:
stem=[]
ls={"A":[],"B":[],"C":[],"D":[],"E":[]}
ls.keys()

['A', 'C', 'B', 'E', 'D']

In [187]:
for i in range(len(ans)):
    question=pd.DataFrame(ans.loc[i]["question"])
    tt=question["choices"]
    labels=[k['label'] for k in tt]
    for idx,key in enumerate(labels):
        ls[key].append(tt[idx]["text"])
    for f in ["A","B","C","D","E"]:
        if f not in labels:
            ls[f].append("")
    stem.append(question["stem"].loc[0])

In [188]:
for i in ["A","B","C","D","E"]:
    ans[i]=ls[i]
ans["stem"]=stem

In [189]:
ans.head()

,answerKey,id,question,A,B,C,D,E,stem
0,C,ACTAAP_2008_5_16,{u'choices': [{u'text': u'feed on water plants...,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,,The diagram below represents an aquatic food w...
1,D,LEAP__5_10328,{u'choices': [{u'text': u'the amount that each...,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,,Use the data table below to answer the questio...
2,A,LEAP__5_10333,{u'choices': [{u'text': u'{img:images/States20...,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,,Which foot would most likely help a bird live ...
3,C,LEAP__5_10335,{u'choices': [{u'text': u'{img:images/States20...,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},,A scientist was studying a mammal population. ...
4,A,MCAS_1998_4_21,"{u'choices': [{u'text': u'plant', u'label': u'...",plant,frog,rabbit,hawk,,{img:images/States2017/Mass/Mass_4thGr_1998_19...

In [190]:
ans=ans.drop(["question"],axis=1)
ans=ans.drop(["E"],axis=1)

In [191]:
ans.head()

,answerKey,id,A,B,C,D,stem
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...

In [192]:
sample.head()

,questionID,originalQuestionID,totalPossiblePoint,AnswerKey,isMultipleChoiceQuestion,includesDiagram,examName,schoolGrade,year,question,subject,category
0,ACTAAP_2008_5_16,16,1,C,1,1,ACTAAP,5,2008,The diagram below represents an aquatic food w...,science,Dev
1,LEAP__5_10328,10328,1,D,1,1,Louisiana Educational Assessment Program,5,?,Use the data table below to answer the questio...,science,Dev
2,LEAP__5_10333,10333,1,A,1,1,Louisiana Educational Assessment Program,5,?,Which foot would most likely help a bird live ...,science,Dev
3,LEAP__5_10335,10335,1,C,1,1,Louisiana Educational Assessment Program,5,?,A scientist was studying a mammal population. ...,science,Dev
4,MCAS_1998_4_21,21,1,A,1,1,MCAS,4,1998,{img:images/States2017/Mass/Mass_4thGr_1998_19...,science,Dev

In [193]:
np.unique(sample["category"])

array(['Dev', 'Test', 'Train'], dtype=object)

In [194]:
ans.head()

,answerKey,id,A,B,C,D,stem
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...

In [195]:
ans["Grade"]=sample["schoolGrade"]
ans["subject"]=sample["subject"]
ans["category"]=sample["category"]

In [196]:
ans.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...,5,science,Dev
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...,5,science,Dev
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...,5,science,Dev
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...,5,science,Dev
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...,4,science,Dev

In [197]:
np.sum(ans["id"]==sample["questionID"])

TypeError: sum() got an unexpected keyword argument 'encoding'

In [199]:
ans.to_csv("Elementary-school.csv",index=False,encoding='utf-8')

In [200]:
ans.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...,5,science,Dev
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...,5,science,Dev
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...,5,science,Dev
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...,5,science,Dev
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...,4,science,Dev

In [100]:
np.sum(ans["id"]!=sample["questionID"])

0

In [101]:
np.unique(ans["subject"])

array([nan, nan, nan, ..., nan, nan, 'science'], dtype=object)

In [107]:
k=pd.read_csv("Elementary-school.csv")

In [108]:
k.head()

,answerKey,id,A,B,C,D,stem,Grade,subject,category
0,C,ACTAAP_2008_5_16,feed on water plants,perform photosynthesis,eat snails and mosquito larvae,live in warm areas of the pond,The diagram below represents an aquatic food w...,5,science,Dev
1,D,LEAP__5_10328,the amount that each plant grew,the amount of food each plant received,the amount of water each plant received,the amount of sunlight each plant received,Use the data table below to answer the questio...,5,science,Dev
2,A,LEAP__5_10333,{img:images/States2017/LA/LA_no_year_5thGr_15....,{img:images/States2017/LA/LA_no_year_5thGr_16....,{img:images/States2017/LA/LA_no_year_5thGr_17....,{img:images/States2017/LA/LA_no_year_5thGr_18....,Which foot would most likely help a bird live ...,5,science,Dev
3,C,LEAP__5_10335,{img:images/States2017/LA/LA_no_year_5thGr_3.png},{img:images/States2017/LA/LA_no_year_5thGr_4.png},{img:images/States2017/LA/LA_no_year_5thGr_5.png},{img:images/States2017/LA/LA_no_year_5thGr_6.png},A scientist was studying a mammal population. ...,5,science,Dev
4,A,MCAS_1998_4_21,plant,frog,rabbit,hawk,{img:images/States2017/Mass/Mass_4thGr_1998_19...,4,science,Dev

In [110]:
np.unique(k["subject"])

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'science'], dtype=object)

In [201]:
ans.iloc[120:140]

,answerKey,id,A,B,C,D,stem,Grade,subject,category
120,B,ACTAAP_2008_5_9,Flowers like to grow near trees.,Flowers grow taller in the sunlight.,Flowers smell better when they are taller.,Flowers grow in groups of four when in the shade.,The figure below shows a tree and flowers grow...,5,science,Test
121,A,ACTAAP_2009_5_3,Light is bent by water.,Light is reflected by air.,Light never changes speed.,Light always follows a straight path.,What does this demonstration show about how li...,5,science,Test
122,A,ACTAAP_2009_5_7,It was a carnivore.,It was a fast runner.,It lived in the ocean.,It lived in warm areas.,{img:images/States2017/AR/AR_5thGr_2009_3.png}...,5,science,Test
123,C,ACTAAP_2011_5_4,Water molecules at 20°C or lower do not move.,Water molecules at 20°C or lower repel the foo...,Water molecules at 80°C move faster than water...,Water molecules at 80°C or greater attract the...,Four drops of red food coloring are added to e...,5,science,Test
124,D,ACTAAP_2011_5_5,hawk,snake,grass,cricket,Study the energy pyramid below. {img:images/St...,5,science,Test
125,D,ACTAAP_2013_5_1,"(1) nucleus, (2) cell membrane, (3) cell wall,...","(1) chloroplast, (2) nucleus, (3) cell membran...","(1) chloroplast, (2) cytoplasm, (3) cell membr...","(1) nucleus, (2) cell wall, (3) chloroplast, (...",Below is a diagram of a plant cell with number...,5,science,Test
126,A,ACTAAP_2013_5_3,1,2,3,,The table below shows possible types of relati...,5,science,Test
127,A,ACTAAP_2013_5_9,wedge and lever,pulley and screw,screw and inclined plane,inclined plane and wedge,The picture below shows a tool being used to s...,5,science,Test
128,D,ACTAAP_2014_5_11,Decomposition produces X and nitrogen fixation...,Nitrogen fixation produces X and decomposition...,Photosynthesis produces X and cellular respira...,Cellular respiration produces X and photosynth...,The diagram below represents the carbon dioxid...,5,science,Test
129,D,ACTAAP_2014_5_3,{img:images/States2017/AR/AR_5thGr_2014_2.png},{img:images/States2017/AR/AR_5thGr_2014_3.png},{img:images/States2017/AR/AR_5thGr_2014_4.png},{img:images/States2017/AR/AR_5thGr_2014_5.png},Below are three examples of simple machines. {...,5,science,Test
130,B,ACTAAP_2015_5_2,height of plant,shape of leaves,shape of flower,number of petals,A student observes two flowering plants in a m...,5,science,Test
131,B,AIMS_2008_4_1,"If more bulbs are added to a circuit, then the...","If more bulbs are added to a circuit, then the...","If longer wires are used in a circuit, then th...","If longer wires are used in a circuit, then th...",A student observed the circuits below and noti...,4,science,Test
132,B,AIMS_2008_4_3,The temperature will be higher at 12:00 P.M. t...,The temperature will be higher at 6:00 P.M. th...,The temperature will be higher at 12:00 P.M. t...,The temperature will be higher at 10:00 A.M. t...,"On Monday, student predicted how the temperatu...",4,science,Test
133,A,AIMS_2008_4_7,battery,bulb,spring,switch,A flashlight is a system of parts that work to...,4,science,Test
134,D,LEAP_2002_4_10249,It takes oxygen in from the environment.,It turns food into energy.,It removes waste from the blood.,It moves blood through the body.,{img:images/States2017/LA/LA_Gr4_2002_2.png} W...,4,science,Test
135,A,LEAP_2004_4_10265,{img:images/States2017/LA/LA_Gr4_2004_1.png},{img:images/States2017/LA/LA_Gr4_2004_2.png},{img:images/States2017/LA/LA_Gr4_2004_3.png},{img:images/States2017/LA/LA_Gr4_2004_4.png},Which group of living things shares the most c...,4,science,Test
136,A,LEAP_2005_4_10268,a glass of milk,a banana,a pork chop,a muffin,Use the picture below to answer the following ...,4,science,Test
137,B,LEAP_2005_4_10269,fire safety rules,glassware safety rules,electrical safety rules,plant safety rules,Use the pictures below to answer the following...,4,science,Test
138,B,LEAP_2006_4_10276,the amount of sunlight on each city,the distance of each city from an ocean,the elevation above sea level of each city,the distance of each city from the equator,Use the map below to answer the following ques...,4,science,Test
139,C,LEAP_2006_4_10277,oil,rocks,grass,glaciers,Use the list below to answer the following que...,4,science,Test

In [116]:
ans.iloc[123,:].values=[u'C', u'ACTAAP_2011_5_4',
       u'Water molecules at 20 degrees Celcius or lower do not move.',
       u'Water molecules at 20 degrees Celcius or lower repel the food coloring molecules.',
       u'Water molecules at 80 degrees Celcius move faster than water molecules at 20 degrees Celcius.',
       u'Water molecules at 80 degrees Celcius or greater attract the food coloring molecules.',
       u'Four drops of red food coloring are added to each beaker of water. The results, after one minute, are shown below. {img:images/States2017/AR/AR_5thGr_2012_1.png} Why does the red food coloring spread throughout the water at 80\xb0C faster than in the water at 20\xb0C?',
       5, 'science', 'Test']

AttributeError: can't set attribute

In [ ]:
ans.set_value(index, col, value, takeable=False)